 *{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
 }
.container{
    max-width: 1050px;
    margin: auto;
}
.navbar-parent{
   margin-top: 30px; 
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}
.navbar-middle{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-weight: 400;
    font-size: 16px;
    color: #575757;
    
}
.btn1{
    font-weight: 700;
    color: white;
    padding: 10px 30px;
    background-color: #1D4ED8;
    border-radius: 10px;
    border: none;
    
}



/* Hero section */

.hero-text h2{
  
    font-size: 40px;
    margin-bottom: 15px;
    color: white;
}
.hero-text p{
    font-size: 18px;
    color: white;
    margin-bottom: 250px;
}
.hero-parent {
background-image: url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    
}
.hero-text{
    text-align: center;
    margin-top: 120px;
    
}


/* <!-- Speakers Section --> */

.Speaker-gallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);
     background-position: center;
    background-size: cover; 
    gap: 20px;
}
.box1 img{
    width: 100%;
    
}
.box1{ 
border: 0.001px solid #888888;
padding-bottom: 30px;
border-radius: 5px;

}
.box1-text h3{
    margin-left: 5px;
    color: #2563EB;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 8px;
}
.box1-text h2{
    margin-left: 5px;
    color: #0D1B2A;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 8px;
}
.box1-text p{
    margin-left: 5px;
    color: #575757;
    font-size: 14px;
    
}
.Speaker-text h2{
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    
}
.Speaker-text{
    margin: 20px 0;
}



/* Card section */
.card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px; 
    padding: 20px;
}

.card h3,p{
    color: #888888; 
   
}
/* .card-3-parent h3,p{
    color: #888888;
} */
.card p{
    margin-bottom: 10px;
}
/* .card ul{
    color: #333333;
} */
 .card-1-parent,.card-3-parent ul{
     color: #333333; 
    
 }
 .card-2-parent ul{
    color: white;
 }

.card-1-parent{
    border: 1px solid #E5E7EB;
    padding: 20px;
    
}

.card-1-parent hr{
   
     border: none;
    border-top: 0.1px solid #E5E7EB;
}


.card-2-parent{
    border: 1px solid #E5E7EB;
    padding: 20px;
}
.card-2-parent hr{
     border: none;
    border-top: 0.1px solid #E5E7EB; 
    
}
.card-3-parent{
    border: 0.1px solid #E5E7EB;
    padding: 20px;
}
.card-3-parent hr{
    border: none;
    border-top: 0.1px solid #E5E7EB;
}
.card-1-box,.card-2-box,.card-3-box ul{
    padding-left: 20px;
    
}

 li::marker{ 
    color: #1D4ED8;
}
.Card-upper-text{
text-align: center;
} 
.Card-upper-text h2{
    font-size: 42px;
}
.Card-upper-text p{
    color: #575757;
    font-size: 18px;
    
}
.card-1,.card-3 h2{
    color: black;
}
.card-2 h2{
    color: #FFFFFF;
}

.card-btn-1{
    font-weight: 700;
    color: #2563EB;
    height: 28px;
    width: 200px;
    border: 1px solid #2563EB;
    background-color: white;
    border-radius: 10px;
}
.card-btn-2{
    font-weight: 700;
    color: #FFFFFF;
    height: 28px;
    width: 200px;
    border: 1px solid #2563EB;
    background-color: #2563EB;
    border-radius: 10px;
}
.card-btn-3{
    font-weight: 700;
    color: #0D1B2A;
    height: 28px;
    width: 200px;
    border: 1px solid #0D1B2A;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.btn-parent{
    margin-top: 20px;
}
li{
    margin-bottom: 10px;
}
.card-2-parent{
    background-color: #0D1B2A;
}
.Card-Section-parent{
    margin-bottom: 50px;
}



/* footer section */


.footer{
    background-color: black;
}
.footer-first{
    display: flex;
     justify-content: space-around; 
    padding-top: 40px;
    padding-bottom: 20px;
   
}
.footer-first-left{
 margin-right: 400px;

} 
.footer-last-left{
    display: flex;
    gap: 5px;
    margin-left: 50px;
    
}
.footer-last-right{
    display: flex;
    gap: 10px;
}
.footer-last{
    margin-top: 30px;
    display: flex;
    gap: 440px;padding-bottom: 30px;
    
}
.footer-last-right a{
    text-decoration: none;
}